:root {
  --dark-red: #8b0000;
}
.container {
  border: 1px solid black;
  background-color: bisque;
  height: 300px;
  width: 300px;
  background-color: var(--dark-red);
}

.box {
  border: 2px solid green;
  background-color: aqua;
  --dark-red: #8b0000;
  color: var(--dark-red);
}
