.container {
  width: 100%;
  height: 215px;
  background-color: white;
  border: 3px solid rgb(255, 0, 0);
}
.box {
  height: 212px;
  width: 212px;
  border: 2px solid green;
  background-color: aqua;

  animation-name: akshat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-direction: alternate;
  /* animation-fill-mode: ; */
}

@keyframes akshat {
  0% {
    width: 212px;
    background-color: green;
  }
  50% {
    width: 35%;
    background-color: white;
  }
  100% {
    width: 100%;
    background-color: orange;
  }
}

/* @keyframes akshat {
  from {
    width: 212px;
  }
  to {
    width: 800px;
  }
} */
