/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */
.container {
  background-color: brown;
  height: 500px;
  border: 3px solid black;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 90px 90px 90px;
}
.box {
  background-color: aqua;
  border: 3px solid black;
  width: 80px;
  height: 80px;
}
