.container {
  height: 500px;
  width: 500px;
  background-color: bisque;
  border: 3px solid rgb(255, 0, 0);
  display: flex;
}

.box {
  border: 2px solid orange;
  background-color: aqua;
  margin: 20px;
  height: 150px;
  width: 150px;
  /* transition-property: background-color;
  transition-duration: 1s; */

  /* transition shorthand property */
  transition: transform 3s ease-out;
}

.box:hover {
  /* background-color: brown;
  transform: rotate(45deg); */
  transform: scale(2) translateX(500px) rotate(360deg);
}
